triback-clo-java/build/
triback-clo-java/triback-clo.jar
experiments/spmf.jar
*.class

*.log
*.aux
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.pyc
__pycache__/

*.7z
*.zip
*.tar.gz

.DS_Store
.idea/
.bsp/
.bloop/
.metals/

# Large datasets
data/kosarak_sequences.txt
experiments/datasets/kosarak_sequences.txt
experiments/datasets/*.data
experiments/datasets/*.pat
experiments/datasets/*.conf
experiments/IBMGenerator/
